
body {

}

div {
	display: none;
}

#navibar {
	position: absolute;
	height: 50px;
	width: 100%;
	top: 0;
	background-color: lightgrey;
}

#slideshow {
	position: relative;
	height: 400px;
	width: 700px;
	top: 250px;
	margin: auto;
	margin-right: 35%;
	background-color: grey;
}

#bottom-bar {
	position: relative;
	height: 100px;
	width: 100%;
	margin-top: 10px;
	background-color: lightgrey;
}

